* {
	margin: 0;
	padding: 0;
}
header {
	background-color: #000;
	height: 65px;
	width: auto;
}
.navone {
	display: flex;
	text-decoration: none;
	float: right;
}
.navone a {
	color: #fff;
	margin-top: -32px;
	margin-right: 5px;
	padding: 5px 10px;
	text-decoration: none;
	border: 2px solid #fff;
	font-size: 20px;
}
.navone a:hover {
	background-color: #2ebf55;
	text-decoration: underline;
	underline-color: red;
	color: #705942;
}

.service-section {
	background: #B7BBB2;
	padding: 40px 0;
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
	box-shadow: -5px -5px 8px #000, 5px 5px 8px #000; 
}

.title {
	color: 	#FFFFFF;
	text-align: center;
	text-decoration: underline;
}

.Service {
	width: 350px;
	height: auto;
	border: 1px solid #fff;
	text-align: center;
	display: inline-block;
	margin-right: 20px;
	margin-left: 50px;
	margin-top: 10px;
	margin-bottom: 10px;
}

}
.Service h3 {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 20px;
	text-transform: uppercase;
}
.Service p {
	font-size: 15px;
	color: gray;
	padding: 5px 10px;
}
footer {
	background: #708090;
	margin-top: 20px;
	height: 60px;
	margin-left: 10px;
	margin-right: 10px;
	padding: 20px;
	box-shadow: -5px -5px 8px #000, 5px 5px 8px #000; 
	text-align: center;
}
footer div a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	padding: 5px 10px;
	text-align: center;
	background-color: #000;
	border: 1px solid #fff;
	border-radius: 5px;
}
footer div a:hover {
	background-color: #fff;
	color: #000;
}