* {
    margin: 0;
    padding: 0;
    font-style: sans-serif;
}

.hero {
    height: 100vh;
    background-image: linear-gradient( rgb(0,0,0,0.8), rgb(0,0,0,0.8)), url("https://github.com/tamimhossen/tamimhossen.github.io/blob/master/Burger.jpg?raw=true");
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    position: relative;
}

.nav-bar {
    display: flex;
    padding: 40px 120px;
}

.nav-logo img {
    width: 135px;
    height: 70px;
}

.nav-links {
    flex: 1;
}

.nav-links ul {
    margin-left: 50px;
    display: inline;
}

.nav-links ul li {
    list-style-type: none;
    display: inline-block;
    padding: 8px 25px;
}

.nav-links ul a {
    text-decoration: none;
    font-size: 13px;
    color: white;
}


.nav-links ul li::after {
    content: '';
    width: 0;
    height: 2px;
    background: yellow;
    display: block;
    margin: auto;
    transition: .5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.btn {
    padding: 10px 20px;
    border: 0;
    background: yellow;
    font-weight: bold;
    cursor: pointer;
}

.nav-links .btn {
    float: right;
}


.banner-title {
    margin: 80px 130px;
    color: #fff;
}

.banner-title h1 {
    margin-bottom: 30px;
    font-size: 64px;
}

.banner-title h1 span {
    color: yellow;
}

.vertical-bar {
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

.search-icon {
    height: 60%;
    width: 80px;
}

.search-icon .fa {
    margin: 45px 23px;
    display: block;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}

.social-icon {
    height: 35%;
    width: 80px;
    background: yellow;
    text-align: center;
    padding-top: 27%;
    bottom: 0;
    position: absolute;
}

.social-icon .fa {
    margin: 15px 23px;
    display: block;
    padding: 8px;
}

.notification {
    right: 0;
    bottom: 0;
    display: flex;
    background: yellow;
    width: 400px;
    position: absolute;
    align-items: center;
}

.content {
    flex-basis: 50%;
    padding: 10px;
}

.notification-img {
    flex-basis: 50%;
}

.notification-img img {
    width: 100%;
    height: 100px;
}

.content a {
    text-decoration: none;
    color: #000;
    font-size: 13px;
    margin: 0 10px;
}

.content p {
    margin-top: 10px;
    text-align: right;
}

.nav-bar .fa {
    display: none;
}

.nav-links .fas {
    display: none;
}


@media (max-width: 700px) {
    .vertical-bar {
        display: none;
    }
    .banner-title {
        margin: 80px 40px;
    }
    .banner-title h1 {
        font-size: 50px;
    }
    .notification {
        width: 100%;
    }
    .nav-bar {
        padding: 10px 30px;
    }
    .fa-bars {
        position: absolute;
        right: 20px;
        top: 10px;
    }

    .nav-bar .fa {
        display: block;
        color: #fff;
        margin: 10px 25px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links .fas {
        display: block;
        color: #fff;
        margin: 10px 25px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links {
        height: 100vh;
        width: 200px;
        background-color: #000;
        top: 0;
        right: 0;
        position: absolute;
        text-align: left;
        z-index: 2;
    }

    .nav-links ul a {
        display: block;

    }

    .nav-links .btn {
        float: none;
        margin-right: 25px;
        margin-top: 10px;
    }
}
